<div class="card-group" style="position: relative; top: 150px; padding: 5%; width: 100  %;z-index: 1;">
  <div class="card" >
     <%= image_tag("parany", {:style => "width:100%;"}) %>
    <div class="card-body">
      <h5 class="card-title">Parany</h5>
      <p class="card-text"><%=Faker::Seinfeld.quote%></p>
      <p class="card-text"><small class="text-muted">Last updated 23 mins ago</small></p>
    </div>
  </div>
  <div class="card" >
    <%= image_tag("herna", {:style => "width:100%;"}) %>
    <div class="card-body">
      <h5 class="card-title">Herna</h5>
      <p class="card-text"><%=Faker::Seinfeld.quote%></p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card" >
    <%= image_tag("jose", {:style => "width:100%;"}) %>
    <div class="card-body">
      <h5 class="card-title">Jose</h5>
      <p class="card-text"><%=Faker::Seinfeld.quote%></p>
      <p class="card-text"><small class="text-muted">Last updated 80 mins ago</small></p>
    </div>
  </div>
  <div class="card" >
    <%= image_tag("herilala", {:style => "width:100%;"}) %>
    <div class="card-body">
      <h5 class="card-title">Herilala</h5>
      <p class="card-text"><%=Faker::Seinfeld.quote%></p>
      <p class="card-text"><small class="text-muted">Last updated 36 mins ago</small></p>
    </div>
  </div>
  <div class="card" >
    <%= image_tag("ando", {:style => "width:100%;"}) %>
    <div class="card-body">
      <h5 class="card-title">Ando</h5>
      <p class="card-text"><%=Faker::Seinfeld.quote%></p>
      <p class="card-text"><small class="text-muted">Last updated 55 mins ago</small></p>
    </div>
  </div>
</div>